*.egg-info/
*/__pycache__/
**/apple_health_export/
**/apple_health_kit_explore/*.pkl
**/apple_health_kit_explore/*.json
/apple_health_kit_explore/AppleHealthKit/*

oddish/dev/images/*
oddish/dev/*.json
web/oddish/src/lol/*.json
